.activity_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    
}

.nav_item {
    display: flex;
    align-items: center;
    padding: 5px;
}

.activity_options {
    text-align:right;
    margin: 0 10px;
}